@font-face {
  src: url('../../fonts/Inter-Regular.woff');
  font-family: 'Inter';
  /* by default; normal=400 */
  /* // font-weight: normal; */
}

@font-face {
  src: url('../../fonts/Inter-Bold.woff');
  font-family: 'Inter';
  /* bold=700 */
  font-weight: bold;
}

@font-face {
  src: url('../../fonts/Inter-Black.woff');
  font-family: 'Inter';
  font-weight: 900;
}

/* base width 1280px+; frame 1280px */
/* frame 1280px */

.page {
  /* size */
  /* simple width is not appropriate */
  /* min-width not needed */
  max-width: 1280px;
  /* space */
  margin-left: auto;
  margin-right: auto;
  /* pos */
  /* display */
  display: flex;
  flex-direction: column;
  /* by default */
  /* // align-items: stretch; */
  /* background */
  /* font */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* not needed */
  /* // text-rendering: optimizeLegibility; */
  /* properties will be inherited by childs if applicable */
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  /* anima */
}

/* TODO remove empty media queries */

@media screen and (max-width: 1279px) {

  /* frame 1024px */
  .page {
    /* size */
    /* space */
    /* TODO on/off for test/release */
    outline: solid 1px red;
    /* pos */
    /* display */
    /* by default */
    /* background */
    /* font */
    /* anima */
  }
}

@media screen and (max-width: 1023px) {

  /* frame 768px */
  .page {
    /* size */
    /* space */
    /* TODO on/off for test/release */
    outline: solid 1px green;
    /* pos */
    /* display */
    /* by default */
    /* background */
    /* font */
    /* anima */
  }
}

@media screen and (max-width: 767px) {

  /* frame 320px */
  .page {
    /* size */
    /* space */
    /* TODO on/off for test/release */
    outline: solid 1px blue;
    /* pos */
    /* display */
    /* by default */
    /* background */
    /* font */
    /* anima */
  }
}
