/* standard rules */
/* width [1024;1280) */

.page {
  /* size */
  width: 928px;
  /* space */
  margin-left: auto;
  margin-right: auto;
  /* pos */
  /* flex */
  /* grid */
  /* background */
  /* font */
  /* anima */
}
