/* base width [1280px+ */

.header__logo {
  /* size */
  width: 176px;
  height: 52px;
  object-fit: contain;
  /* space */
  /* pos */
  object-position: left bottom;
  /* display */
  /* background */
  /* font */
  /* anima */
}
