/* #1280 */
.photo-grid__item {
  /* position */
  /* display */
  /* size */
  /* * if height is sot set object-fit will not work */
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* * default */
  /* object-position: center; */
  /* spacing */
  /* background */
  /* text */
  /* animation */
}

/* #1024 */
/* @media screen and (max-width: 1279px) {} */

/* #768 */
/* @media screen and (max-width: 1023px) {} */

/* #320 */
/* @media screen and (max-width: 767px) {} */

/* TODO 425px? */
