.footer__links-item {
  margin: 0;
  padding: 0 18px 0 0;
}

.footer__links-item:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__links-item {
    padding-right: 0;
    padding-bottom: 32px;
  }

  .footer__links-item:last-of-type {
    padding-bottom: 48px;
  }
}
