/* #1280 */
.cover {
  /* position */
  /* display */
  display: block;
  /* size */
  /* spacing */
  padding-right: 48px;
  padding-bottom: 92px;
  padding-left: 48px;
  /* background */
  /* text */
  text-decoration: none;
  color: #fff;
  /* animation */
}

/* #1024 */
@media screen and (max-width: 1279px) {
  .cover {
    /* position */
    /* display */
    /* size */
    /* spacing */
    padding-right: 0;
    padding-left: 0;
    /* background */
    /* text */
    /* animation */
  }
}

/* #768 */
@media screen and (max-width: 1023px) {
  .cover {
    /* position */
    /* display */
    /* size */
    /* spacing */
    padding-bottom: 88px;
    /* background */
    /* text */
    /* animation */
  }
}

/* #320 */
@media screen and (max-width: 767px) {
  .cover {
    /* position */
    /* display */
    /* size */
    /* spacing */
    padding-bottom: 64px;
    /* background */
    /* text */
    /* animation */
  }
}
