/* #1280 */
.cover__title {
  /* position */
  /* display */
  /* size */
  max-width: 560px;
  width: 100%;
  /* spacing */
  padding: 0 0 32px;
  margin: 0 auto 0;
  /* background */
  /* text */
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* animation */
}

/* #1024 */
/* @media screen and (max-width: 1279px) {} */

/* #768 */
/* @media screen and (max-width: 1023px) {} */

/* #320 */
@media screen and (max-width: 767px) {
  .cover__title {
    /* position */
    /* display */
    /* size */
    max-width: 288px;
    width: 100%;
    /* spacing */
    padding-bottom: 16px;
    /* background */
    /* text */
    font-size: 32px;
    line-height: 1.09;
    /* animation */
  }
}
