 /* #1280 */
 .intro__title {
   /* position */
   /* display */
   /* size */
   /* spacing */
   /* background */
   /* text */
   font-weight: 900;
   font-size: 54px;
   line-height: 58px;
   /* animation */
 }

 /* #1024 */
 /* @media screen and (max-width: 1279px) {} */

 /* #768 */
 /* @media screen and (max-width: 1023px) {} */

 /* #320 */
 @media screen and (max-width: 767px) {
   .intro__title {
     /* size */
     /* spacing */
     /* position */
     /* display */
     /* background */
     /* text */
     font-size: 32px;
     line-height: 35px;
     /* animation */
   }
 }
